
<style scoped>
  x-app {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  x-app h2 {
    text-align: center;
    font-weight: 300;
  }

  x-app h2 {
    font-size: 3rem;
  }

  x-app button {
    text-transform: uppercase;
    line-height: 2rem;
  }
</style>

<div>
  <h2>[[count]]</h2>
  <div>
    <button (click)="decrement()">Decrement</button>
    <button (click)="increment()">Increment</button>
  </div>
</div>
